<a href="https://colab.research.google.com/github/nedokormysh/Stepik_Competitive_DS/blob/week_7/CompetitiveDS_7_2_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

from lxml import etree, html as lhtml

from bs4 import BeautifulSoup
from tqdm import tqdm
from operator import attrgetter, itemgetter

import requests

import numpy as np
import re

# 7.2.6

In [ ]:
response = requests.get("http://www.autonet.ru/auto/ttx")
first_level = lhtml.fromstring(response.text).iterlinks()

links = []

for el in first_level:
  if el[2].find('/auto/ttx/') != -1:
    ending = el[2][el[2].find('/auto/ttx/') + 9:]
    response = requests.get("http://www.autonet.ru/auto/ttx" + ending)
    second_level = lhtml.fromstring(response.text).iterlinks()

    for el_ in second_level:

      if el_[2].find('/auto/ttx' + ending + '/') != -1:
        ending_2 = el_[2][el_[2].find(ending + '/'):]
        _ = "http://www.autonet.ru/auto/ttx" + ending_2
        links.append(_)

In [ ]:
# links[:10]

In [ ]:
links = pd.DataFrame(links, columns=['url'])

In [ ]:
# links

In [ ]:
links = links.sort_values('url')
# links

In [ ]:
# links.to_csv('links_1.csv', index=False)

# 7.2.8

In [ ]:
links = pd.read_csv('https://raw.githubusercontent.com/nedokormysh/Stepik_Competitive_DS/week_7/links_1.csv')
# links = pd.read_csv('/content/links_1.csv')
links

                                                url
0        http://www.autonet.ru/auto/ttx/ac_cars/ace
1      http://www.autonet.ru/auto/ttx/ac_cars/aceca
2      http://www.autonet.ru/auto/ttx/ac_cars/cobra
3      http://www.autonet.ru/auto/ttx/ac_cars/mamba
4           http://www.autonet.ru/auto/ttx/acura/cl
...                                             ...
1815      http://www.autonet.ru/auto/ttx/zotye/z300
1816      http://www.autonet.ru/auto/ttx/zx/admiral
1817    http://www.autonet.ru/auto/ttx/zx/changling
1818  http://www.autonet.ru/auto/ttx/zx/grand_tiger
1819     http://www.autonet.ru/auto/ttx/zx/landmark

[1820 rows x 1 columns]

In [ ]:
links.head(10)

                                            url
0    http://www.autonet.ru/auto/ttx/ac_cars/ace
1  http://www.autonet.ru/auto/ttx/ac_cars/aceca
2  http://www.autonet.ru/auto/ttx/ac_cars/cobra
3  http://www.autonet.ru/auto/ttx/ac_cars/mamba
4       http://www.autonet.ru/auto/ttx/acura/cl
5      http://www.autonet.ru/auto/ttx/acura/csx
6       http://www.autonet.ru/auto/ttx/acura/el
7      http://www.autonet.ru/auto/ttx/acura/ilx
8  http://www.autonet.ru/auto/ttx/acura/integra
9      http://www.autonet.ru/auto/ttx/acura/mdx

In [ ]:
# import lxml
# # from lxml import etree, html as lhtml
# import requests
# import tqdm

# req = requests.post("http://www.autonet.ru/auto/ttx")
# tree = lxml.html.fromstring(req.text)

# links = []
# for el, tag, link, pos in tqdm(list(tree.iterlinks())):
#     if link.startswith('/auto/ttx/'):
#         car = lxml.html.fromstring(requests.post(f'http://www.autonet.ru{link}').text)
#         for _, _, car_link, _ in car.iterlinks():
#             if car_link.startswith(link+'/'):
#                 links.append(f'http://www.autonet.ru{car_link}')

# sub = pd.DataFrame({'url': links})
# sub = sub.sort_values(by='url')

In [ ]:
df_ = pd.read_csv('https://stepik.org/media/attachments/lesson/866758/quickstart_train.csv')
# df_

In [ ]:
df = df_[['car_id', 'model', 'year_to_start']]
df

          car_id              model  year_to_start
0     y13744087j     Kia Rio X-line           2015
1     O41613818T         VW Polo VI           2015
2     d-2109686j    Renault Sandero           2012
3     u29695600e  Mercedes-Benz GLC           2011
4     N-8915870N    Renault Sandero           2012
...          ...                ...            ...
2332  j21246192N      Smart ForFour           2017
2333  h-1554287F            Audi A4           2016
2334  A15262612g            Kia Rio           2015
2335  W-2514493U    Renault Sandero           2014
2336  z-1337463D            VW Polo           2015

[2337 rows x 3 columns]

In [ ]:
links = links['url'].values
links

array(['http://www.autonet.ru/auto/ttx/ac_cars/ace',
       'http://www.autonet.ru/auto/ttx/ac_cars/aceca',
       'http://www.autonet.ru/auto/ttx/ac_cars/cobra', ...,
       'http://www.autonet.ru/auto/ttx/zx/changling',
       'http://www.autonet.ru/auto/ttx/zx/grand_tiger',
       'http://www.autonet.ru/auto/ttx/zx/landmark'], dtype=object)

In [ ]:
def find_url(row):
  mark, model, *_ = row['model'].lower().split(' ')

  if mark == 'vw':
    mark = 'volkswagen'
  elif mark == 'bmw' and model == '320i':
    model = '3_series'
  elif mark == 'mini' and model == 'cooper':
    # model = 'clubman'
    model = 'hatch'
  elif mark == 'mercedes-benz' and model == 'e200':
    model = 'e'
    return 'http://www.autonet.ru/auto/ttx/mercedes-benz/e'
  elif mark == 'smart' and model == 'coupe':
    model = 'fortwo'

  # print(row['model'].lower().split(' '))
  for el in links:
    # if 
    if el.find(mark) != -1 and el.find(model) != -1:
      # print(el)
      return el

In [ ]:
df['url'] = df.apply(find_url, axis=1)

<ipython-input-97-8b6a5de1079f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['url'] = df.apply(find_url, axis=1)

In [ ]:
df

,car_id,model,year_to_start,url
0,y13744087j,Kia Rio X-line,2015,http://www.autonet.ru/auto/ttx/kia/rio
1,O41613818T,VW Polo VI,2015,http://www.autonet.ru/auto/ttx/volkswagen/polo
2,d-2109686j,Renault Sandero,2012,http://www.autonet.ru/auto/ttx/renault/sandero
3,u29695600e,Mercedes-Benz GLC,2011,http://www.autonet.ru/auto/ttx/mercedes-benz/glc
4,N-8915870N,Renault Sandero,2012,http://www.autonet.ru/auto/ttx/renault/sandero
...,...,...,...,...
2332,j21246192N,Smart ForFour,2017,http://www.autonet.ru/auto/ttx/smart/forfour
2333,h-1554287F,Audi A4,2016,http://www.autonet.ru/auto/ttx/audi/a4
2334,A15262612g,Kia Rio,2015,http://www.autonet.ru/auto/ttx/kia/rio
2335,W-2514493U,Renault Sandero,2014,http://www.autonet.ru/auto/ttx/renault/sandero
2336,z-1337463D,VW Polo,2015,http://www.autonet.ru/auto/ttx/volkswagen/polo

In [ ]:
# df.to_csv('df53.csv', index=False)

# 7.2.9

In [ ]:
from bs4 import BeautifulSoup
import requests

In [ ]:
url = 'http://www.autonet.ru/auto/ttx/ac_cars/ace'

In [ ]:
page = requests.get(url)

In [ ]:
print(page.status_code)

200

In [ ]:
soup = BeautifulSoup(page.text, "html.parser")

## cars

In [ ]:
import re

In [ ]:
# url = 'http://www.autonet.ru/auto/ttx/ac_cars/ace'
# url = 'http://www.autonet.ru/auto/ttx/audi/a3'
url = 'http://www.autonet.ru/auto/ttx/volkswagen/polo'

In [ ]:
page = requests.get(url)
soup = BeautifulSoup(page.text, "html.parser")

    # tables = soup.findAll('table', class_='mod-list-table')
tables = soup.findAll('table', class_=lambda s: s and s.startswith('mod-list'))
# tables

In [ ]:
def parse_table(table):
    res = {'name': [],
           'release_year': [],
           'carcass': [],
           'doors': [],
           'volume': [],
           'power': []}
    
    name_tags = table.findAll('td', class_="mod")
    [res['name'].append(el.text.strip()) for el in name_tags]
      

    carcass_tags = table.findAll('td', class_="carcass")
    
    for el in carcass_tags:
      carcass_type, doors, *_ = el.text.split()
      res['carcass'].append(carcass_type)
      res['doors'].append(int(re.findall(r'\d+', doors)[0]))

    year_tags = table.findAll('td', class_=lambda s: s and s.startswith('edition'))

    for el in year_tags:
      release_year, *_ = el.text.split()
      # print(release_year)
      release_year = release_year#[-4:]
      res['release_year'].append((release_year))

    volume_tags = table.findAll('td', class_="volume")

    for el in volume_tags:
      volume, *_ = el.text.split()
      if volume == 'см3':
        res['volume'].append(np.nan)
      else:
        res['volume'].append(int(volume))

    power_tags = table.findAll('td', class_="power")

    for el in power_tags:
      power, *_ = el.text.split()
      if power == 'л.с.':
        res['power'].append(np.nan)
      else:
        res['power'].append(int(power))

    return pd.DataFrame(res)

In [ ]:
def parse_url(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.text, "html.parser")

    tables = soup.findAll('table', class_=lambda s: s and s.startswith('mod-list'))

    if len(tables) != 0: 
      frames = []
      for table in tables:
        res_ = parse_table(table)
        frames.append(res_)
      result = pd.concat(frames)
    # result.reset_index(inplace=True)#.drop('index', axis=1)
    else:
      res = {'name': [],
           'release_year': [],
           'carcass': [],
           'doors': [],
           'volume': [],
           'power': []}
      result = pd.DataFrame(res)

    return result

In [ ]:
# res = {'name': [],
#            'release_year': [],
#            'carcass': [],
#            'doors': [],
#            'volume': [],
#            'power': []}

# res = pd.DataFrame(res)
# res

In [ ]:
import numpy as np

## new parse

In [ ]:
def parse_table_n(table):
    res = {'name': [],
           'release_year': [],
           #'carcass': [],
           #'doors': [],
           #'volume': [],
           #'power': []
           }

    year_tags = table.findAll('td', class_=lambda s: s and s.startswith('edition'))

    for el in year_tags:
      release_year, *_ = el.text.split()
      # print(release_year)
      if len(release_year) > 4:
        continue
      else:
        release_year = release_year[-4:]
        res['release_year'].append(float(release_year))

        name_tags = table.findAll('td', class_="mod")
        [res['name'].append(el.text.strip()) for el in name_tags]
      

        # carcass_tags = table.findAll('td', class_="carcass")
    
        # for el in carcass_tags:
        #   carcass_type, doors, *_ = el.text.split()
        #   res['carcass'].append(carcass_type)
        #   res['doors'].append(int(re.findall(r'\d+', doors)[0]))

        # volume_tags = table.findAll('td', class_="volume")

        # for el in volume_tags:
        #   volume, *_ = el.text.split()
        #   if volume == 'см3':
        #      res['volume'].append(np.nan)
        #   else:
        #      res['volume'].append(int(volume))

        # power_tags = table.findAll('td', class_="power")

        # for el in power_tags:
        #    power, *_ = el.text.split()
        # if power == 'л.с.':
        #    res['power'].append(np.nan)
        # else:
        #    res['power'].append(int(power))
    print(res)
    return pd.DataFrame(res)

In [ ]:
def parse_url_n(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.text, "html.parser")

    tables = soup.findAll('table', class_=lambda s: s and s.startswith('mod-list'))

    if len(tables) != 0: 
      frames = []
      for table in tables:
        res_ = parse_table_n(table)
        frames.append(res_)
      result = pd.concat(frames)
    # result.reset_index(inplace=True)#.drop('index', axis=1)
    else:
      res = {'name': [],
           'release_year': [],
           'carcass': [],
           'doors': [],
           'volume': [],
           'power': []}
      result = pd.DataFrame(res)

    return result

## test url

In [ ]:
# url= 'http://www.autonet.ru/auto/ttx/audi/a3'
# url= 'http://www.autonet.ru/auto/ttx/volkswagen/polo'
# url= 'http://www.autonet.ru/auto/ttx/renault/kaptur'
# url= 'http://www.autonet.ru/auto/ttx/smart/forfour'

# url= 'http://www.autonet.ru/auto/ttx/kia/rio'
url='http://www.autonet.ru/auto/ttx/volkswagen/polo'
# url= 'http://www.autonet.ru/auto/ttx/renault/sandero'
# 3	u29695600e	Mercedes-Benz GLC	http://www.autonet.ru/auto/ttx/mercedes-benz/glc	2011	NaN	NaN	NaN	NaN	NaN	NaN
# 4	N-8915870N	Renault Sandero	http://www.autonet.ru/auto/ttx/renault/sandero

df = parse_url(url)
# df = df.sort_values(by=[ 'name' , 'carcass', 'release_year', 'doors', 'volume', 'power'])
# df = df.sort_values(by=['name',
#                         'release_year',
#                         'carcass', 'doors', 'volume',
#                         'power'
#                         ])
df.reset_index(inplace=True)
df.drop('index', axis=1, inplace=True)
# # df = df.sort_values(by=['name', 'release_year', 'carcass', 'doors', 'volume', 'power'])
df.head(5)
# # df

                           name  release_year carcass  doors  volume  power
0  Volkswagen Polo 1.4 125 л.с.        2016.0   седан      4    1395    125
1  Volkswagen Polo 1.6 105 л.с.        2015.0   седан      4    1598    105
2  Volkswagen Polo 1.6 110 л.с.        2015.0   седан      4    1598    110
3   Volkswagen Polo 1.6 85 л.с.        2015.0   седан      4    1598     85
4   Volkswagen Polo 1.6 90 л.с.        2015.0   седан      4    1598     90

In [ ]:
d_ = df[df['release_year'] <= 2015]
# d_.sort_values(by=['name', 'release_year', 'carcass', 'doors', 'volume', 'power'])
d_.reset_index(inplace=True)
d_.drop('index', axis=1, inplace=True)
d_

<ipython-input-51-643338177517>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_.drop('index', axis=1, inplace=True)

                             name  release_year  carcass  doors  volume  power
0    Volkswagen Polo 1.6 105 л.с.        2015.0    седан      4    1598    105
1    Volkswagen Polo 1.6 110 л.с.        2015.0    седан      4    1598    110
2     Volkswagen Polo 1.6 85 л.с.        2015.0    седан      4    1598     85
3     Volkswagen Polo 1.6 90 л.с.        2015.0    седан      4    1598     90
4             Volkswagen Polo 1.2        2014.0  хэтчбек      5    1198     60
..                            ...           ...      ...    ...     ...    ...
168           Volkswagen Polo 1.3        1982.0  хэтчбек      3    1272     75
169           Volkswagen Polo 1.3        1983.0  хэтчбек      3    1272     54
170           Volkswagen Polo 1.3        1982.0    седан      2    1272     54
171           Volkswagen Polo 1.3        1983.0     купе      3    1272     54
172           Volkswagen Polo 1.3        1982.0     купе      3    1272     75

[173 rows x 6 columns]

In [ ]:
d_.sort_values(by=['name', 'release_year', 'carcass', 'doors', 'volume', 'power'])

,name,release_year,carcass,doors,volume,power
35,Volkswagen Cross Polo 1.2,2005.0,хэтчбек,5,1198,64
34,Volkswagen Cross Polo 1.2,2007.0,хэтчбек,5,1198,70
8,Volkswagen Cross Polo 1.2,2010.0,хэтчбек,5,1198,70
9,Volkswagen Cross Polo 1.2 TSI,2010.0,хэтчбек,5,1197,105
37,Volkswagen Cross Polo 1.4,2005.0,хэтчбек,5,1390,75
...,...,...,...,...,...,...
106,Volkswagen Polo Variant 1.9 D,1999.0,универсал,5,1896,68
129,Volkswagen Polo Variant 1.9 TD,1997.0,универсал,5,1896,90
130,Volkswagen Polo Variant 1.9 TD,1998.0,универсал,5,1896,110
107,Volkswagen Polo Variant 1.9 TD,1999.0,универсал,5,1896,90
108,Volkswagen Polo Variant 1.9 TD,1999.0,универсал,5,1896,110

In [ ]:
not_drop_out_lst = []

for i in range(len(df['release_year'])):
  # print(df['release_year'].iloc[i])
  if len(df['release_year'].iloc[i]) <= 4:
    not_drop_out_lst.append(i)


df = df.iloc[not_drop_out_lst]
df

                              name release_year  carcass  doors  volume  power
0        Volkswagen Cross Polo 1.2         2010  хэтчбек      5    1198     70
1    Volkswagen Cross Polo 1.2 TSI         2010  хэтчбек      5    1197    105
2        Volkswagen Cross Polo 1.4         2010  хэтчбек      5    1390     85
3    Volkswagen Cross Polo 1.6 TDI         2010  хэтчбек      5    1598     75
4    Volkswagen Cross Polo 1.6 TDI         2010  хэтчбек      5    1598     90
5    Volkswagen Cross Polo 1.6 TDI         2010  хэтчбек      5    1598    105
1              Volkswagen Polo 1.0         1990     купе      3    1043     45
2              Volkswagen Polo 1.0         1990    седан      2    1043     45
0              Volkswagen Polo 1.0         1990  хэтчбек      3    1043     45
0              Volkswagen Polo 1.2         2014  хэтчбек      5    1198     60
1              Volkswagen Polo 1.2         2014  хэтчбек      5    1198     70
15         Volkswagen Polo 1.2 TSI         2009  хэтчбек      3    1197     90
14         Volkswagen Polo 1.2 TSI         2009  хэтчбек      5    1197     90
2              Volkswagen Polo 1.3         1982    седан      2    1272     54
5              Volkswagen Polo 1.3         1985     купе      3    1272     54
3              Volkswagen Polo 1.3         1985     купе      3    1272     75
7              Volkswagen Polo 1.3         1985    седан      2    1272     54
6              Volkswagen Polo 1.3         1985  хэтчбек      3    1272     54
4              Volkswagen Polo 1.3         1985  хэтчбек      3    1272     75
0     Volkswagen Polo 1.4 125 л.с.         2016    седан      4    1395    125
1     Volkswagen Polo 1.6 105 л.с.         2015    седан      4    1598    105
2     Volkswagen Polo 1.6 110 л.с.         2015    седан      4    1598    110
3      Volkswagen Polo 1.6 85 л.с.         2015    седан      4    1598     85
4      Volkswagen Polo 1.6 90 л.с.         2015    седан      4    1598     90
4   Volkswagen Polo Classic 1.9 TD         1999    седан      4    1896     90
5   Volkswagen Polo Classic 1.9 TD         1999    седан      4    1896    110
25     Volkswagen Polo GTI 1.4 TSI         2009  хэтчбек      3    1390    180
1            Volkswagen Polo Sedan         2010    седан      4    1598    105
0            Volkswagen Polo Sedan         2014    седан      4    1598     85

In [ ]:
# def dropout(row):
#   if

7

In [ ]:
d = df[df['release_year'] <= 2015]
d.head()

                           name  release_year  carcass  doors  volume  power
1  Volkswagen Polo 1.6 105 л.с.        2015.0    седан      4    1598    105
2  Volkswagen Polo 1.6 110 л.с.        2015.0    седан      4    1598    110
3   Volkswagen Polo 1.6 85 л.с.        2015.0    седан      4    1598     85
4   Volkswagen Polo 1.6 90 л.с.        2015.0    седан      4    1598     90
5           Volkswagen Polo 1.2        2014.0  хэтчбек      5    1198     60

In [ ]:
d = d.sort_values(by=['name', 'release_year', 'carcass', 'doors', 'volume', 'power'])
d.head()

                             name  release_year  carcass  doors  volume  power
36      Volkswagen Cross Polo 1.2        2005.0  хэтчбек      5    1198     64
35      Volkswagen Cross Polo 1.2        2007.0  хэтчбек      5    1198     70
9       Volkswagen Cross Polo 1.2        2010.0  хэтчбек      5    1198     70
10  Volkswagen Cross Polo 1.2 TSI        2010.0  хэтчбек      5    1197    105
38      Volkswagen Cross Polo 1.4        2005.0  хэтчбек      5    1390     75

In [ ]:
df_729_0.head()

,car_id,model,url,year_to_start,name,release_year,carcass,doors,volume,power
0,y13744087j,Kia Rio X-line,http://www.autonet.ru/auto/ttx/kia/rio,2015,KIA Rio 1.1 CDRi,2012.0,хэтчбек,3.0,1120.0,75.0
1,O41613818T,VW Polo VI,http://www.autonet.ru/auto/ttx/volkswagen/polo,2015,Volkswagen Cross Polo 1.2,2005.0,хэтчбек,5.0,1198.0,64.0
2,d-2109686j,Renault Sandero,http://www.autonet.ru/auto/ttx/renault/sandero,2012,Renault Sandero 1.4,2009.0,хэтчбек,5.0,1390.0,75.0
3,u29695600e,Mercedes-Benz GLC,http://www.autonet.ru/auto/ttx/mercedes-benz/glc,2011,NaN,NaN,NaN,NaN,NaN,NaN
4,N-8915870N,Renault Sandero,http://www.autonet.ru/auto/ttx/renault/sandero,2012,Renault Sandero 1.4,2009.0,хэтчбек,5.0,1390.0,75.0

## new wave

In [ ]:
# response = requests.get("http://www.autonet.ru/auto/ttx")
# first_level = lhtml.fromstring(response.text).iterlinks()

# links = []

# for el in first_level:
#   if el[2].find('/auto/ttx/') != -1:
#     ending = el[2][el[2].find('/auto/ttx/') + 9:]
#     response = requests.get("http://www.autonet.ru/auto/ttx" + ending)
#     second_level = lhtml.fromstring(response.text).iterlinks()

#     for el_ in second_level:

#       if el_[2].find('/auto/ttx' + ending + '/') != -1:
#         ending_2 = el_[2][el_[2].find(ending + '/'):]
#         _ = "http://www.autonet.ru/auto/ttx" + ending_2
#         links.append(_)

In [ ]:
# links

In [ ]:
# # i = 0
# frames_all = []
# for el in links:
#   # print(i)
#   # i += 1
  
#   frames_all.append(parse_url(el))

# df_var = pd.concat(frames_all)

In [ ]:
# df_var

In [ ]:
# links[100]

In [ ]:
# df_var = parse_url(links[100])
# df_var

In [ ]:
def find_model(row):
  #  print(row)
   df_ = parse_url(row['url'])
   df_ = df_[df_['release_year'] <= row['year_to_start']]
  #  print(df_)
   df_ = df_.sort_values(by=['name', 'release_year', 'carcass', 'doors', 'volume', 'power'])
   print(df_.iloc[0])
   return df_.iloc[0]

In [ ]:
df

,name,release_year,carcass,doors,volume,power
0,Audi A3 Sedan 1.4 TFSI,2016.0,седан,4,1395,150
1,Audi A3 Sedan 2.0 TFSI,2016.0,седан,4,1984,190
2,Audi A3 Sedan 2.0 TFSI quattro,2016.0,седан,4,1984,190
3,Audi A3 Sportback 1.4 TFSI,2016.0,хэтчбек,5,1395,150
4,Audi A3 Sportback 2.0 TFSI,2016.0,хэтчбек,5,1984,190
...,...,...,...,...,...,...
140,Audi A3 1.9 TDI,1997.0,хэтчбек,3,1896,110
141,Audi A3 1.9 TDI,1999.0,хэтчбек,5,1896,110
142,Audi A3 1.9 TDI,1996.0,хэтчбек,3,1896,90
143,Audi A3 1.9 TDI,1999.0,хэтчбек,5,1896,90
144,Audi S3 1.8 TFSI quattro,1999.0,хэтчбек,3,1781,210

In [ ]:
# df[df['release_year'] < 2015]

In [ ]:
# df['year_to_start']

In [ ]:
df_temp = df[0: 3]
df_temp

In [ ]:
# df_temp['year_to_start'] = np.NaN
df_temp['name'] = np.NaN
df_temp['release_year'] = np.NaN
df_temp['carcass'] = np.NaN
df_temp['doors'] = np.NaN
df_temp['volume'] = np.NaN
df_temp['power'] = np.NaN
df_temp

In [ ]:
# def find_model(row):
#   #  print(row)
#    df_ = parse_url(row['url'])
#    df_ = df_[df_['release_year'] <= row['year_to_start']]
#   #  print(df_)
#    df_ = df_.sort_values(by=['name', 'release_year', 'carcass', 'doors', 'volume', 'power'])
#    df_ = df_.iloc[0]
#   #  print(df_)
#   #  row['year_to_start'] = df_['']
#   #  print(df_['name'][0])
#    row['name'] = df_['name']
#    row['release_year'] = df_['release_year']
#    row['carcass'] = df_['carcass']
#    row['doors'] = df_['doors']
#    row['volume'] = df_['volume']
#    row['power'] = df_['power']
#    return row

# # df_temp.apply(find_model, axis=1)

IndexError: ignored

In [ ]:
# df_temp

In [ ]:
# df_temp['row'] = df_temp.apply(find_model, axis=1)

In [ ]:
# df_temp

## new order

In [ ]:
import pandas as pd

from lxml import etree, html as lhtml

from bs4 import BeautifulSoup
from tqdm import tqdm
from operator import attrgetter, itemgetter

import requests

import numpy as np
import re

In [ ]:
def parse_table(table):
    res = {'name': [],
           'release_year': [],
           'carcass': [],
           'doors': [],
           'volume': [],
           'power': []}
    
    name_tags = table.findAll('td', class_="mod")
    [res['name'].append(el.text.strip()) for el in name_tags]
      

    carcass_tags = table.findAll('td', class_="carcass")
    
    for el in carcass_tags:
      carcass_type, doors, *_ = el.text.split()
      res['carcass'].append(carcass_type)
      res['doors'].append(int(re.findall(r'\d+', doors)[0]))

    year_tags = table.findAll('td', class_=lambda s: s and s.startswith('edition'))

    for el in year_tags:
      release_year, *_ = el.text.split()
      release_year = release_year[-4:]
      res['release_year'].append(float(release_year))
      # res['release_year'].append((release_year))

    volume_tags = table.findAll('td', class_="volume")

    for el in volume_tags:
      volume, *_ = el.text.split()
      if volume == 'см3':
        res['volume'].append(np.nan)
      else:
        res['volume'].append(int(volume))

    power_tags = table.findAll('td', class_="power")

    for el in power_tags:
      power, *_ = el.text.split()
      if power == 'л.с.':
        res['power'].append(np.nan)
      else:
        res['power'].append(int(power))

    return pd.DataFrame(res)

In [ ]:
def parse_url(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.text, "html.parser")

    tables = soup.findAll('table', class_=lambda s: s and s.startswith('mod-list'))

    if len(tables) != 0: 
      frames = []
      for table in tables:
        res_ = parse_table(table)
        frames.append(res_)
      result = pd.concat(frames)
    # result.reset_index(inplace=True)#.drop('index', axis=1)
    else:
      res = {'name': [],
           'release_year': [],
           'carcass': [],
           'doors': [],
           'volume': [],
           'power': []}
      result = pd.DataFrame(res)

    return result

In [ ]:
df_ = pd.read_csv('https://stepik.org/media/attachments/lesson/866758/quickstart_train.csv')
df_.head()

,car_id,model,car_type,fuel_type,car_rating,year_to_start,riders,year_to_work,target_reg,target_class,mean_rating,distance_sum,rating_min,speed_max,user_ride_quality_median,deviation_normal_count,user_uniq
0,y13744087j,Kia Rio X-line,economy,petrol,3.78,2015,76163,2021,109.99,another_bug,4.737759,1.214131e+07,0.1,180.855726,0.023174,174,170
1,O41613818T,VW Polo VI,economy,petrol,3.90,2015,78218,2021,34.48,electro_bug,4.480517,1.803909e+07,0.0,187.862734,12.306011,174,174
2,d-2109686j,Renault Sandero,standart,petrol,6.30,2012,23340,2017,34.93,gear_stick,4.768391,1.588366e+07,0.1,102.382857,2.513319,174,173
3,u29695600e,Mercedes-Benz GLC,business,petrol,4.04,2011,1263,2020,32.22,engine_fuel,3.880920,1.651883e+07,0.1,172.793237,-5.029476,174,170
4,N-8915870N,Renault Sandero,standart,petrol,4.70,2012,26428,2017,27.51,engine_fuel,4.181149,1.398317e+07,0.1,203.462289,-14.260456,174,171

In [ ]:
df_[df_['car_id'] == 'T81007701m']

,car_id,model,year_to_start,url,name,release_year,carcass,doors,volume,power
2135,T81007701m,Audi A3,2015,http://www.autonet.ru/auto/ttx/audi/a3,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# len(df_['car_id'].unique())

2337

In [ ]:
# df_[df_['model'] == 'VW Polo VI']['year_to_start'].min()

2011

In [ ]:
df_ = df_[['car_id', 'model', 'year_to_start']]
# df_.head()

In [ ]:
links = pd.read_csv('https://raw.githubusercontent.com/nedokormysh/Stepik_Competitive_DS/week_7/links_1.csv')
# links = pd.read_csv('https://raw.githubusercontent.com/nedokormysh/Stepik_Competitive_DS/week_7/links_1.csv')
links = links['url'].values
links

array(['http://www.autonet.ru/auto/ttx/ac_cars/ace',
       'http://www.autonet.ru/auto/ttx/ac_cars/aceca',
       'http://www.autonet.ru/auto/ttx/ac_cars/cobra', ...,
       'http://www.autonet.ru/auto/ttx/zx/changling',
       'http://www.autonet.ru/auto/ttx/zx/grand_tiger',
       'http://www.autonet.ru/auto/ttx/zx/landmark'], dtype=object)

In [ ]:
def find_url(row):
  mark, model, *_ = row['model'].lower().split(' ')

  if mark == 'vw':
    mark = 'volkswagen'
  elif mark == 'bmw' and model == '320i':
    model = '3_series'
  elif mark == 'mini' and model == 'cooper':
    # model = 'clubman'
    model = 'hatch'
  elif mark == 'mercedes-benz' and model == 'e200':
    model = 'e'
    return 'http://www.autonet.ru/auto/ttx/mercedes-benz/e'
  elif mark == 'smart' and model == 'coupe':
    model = 'fortwo'

  # print(row['model'].lower().split(' '))
  for el in links:
    # if 
    if el.find(mark) != -1 and el.find(model) != -1:
      # print(el)
      return el

In [ ]:
df_['url'] = df_.apply(find_url, axis=1)
# df_.head()

In [ ]:
df_temp = df_
# df_temp

In [ ]:
df_temp['name'] = np.NaN
df_temp['release_year'] = np.NaN
df_temp['carcass'] = np.NaN
df_temp['doors'] = np.NaN
df_temp['volume'] = np.NaN
df_temp['power'] = np.NaN
df_temp = df_temp[['car_id', 'model', 'url', 'year_to_start', 'name',	'release_year',	'carcass',	'doors'	,'volume',	'power']]
df_temp.head()

,car_id,model,url,year_to_start,name,release_year,carcass,doors,volume,power
0,y13744087j,Kia Rio X-line,http://www.autonet.ru/auto/ttx/kia/rio,2015,NaN,NaN,NaN,NaN,NaN,NaN
1,O41613818T,VW Polo VI,http://www.autonet.ru/auto/ttx/volkswagen/polo,2015,NaN,NaN,NaN,NaN,NaN,NaN
2,d-2109686j,Renault Sandero,http://www.autonet.ru/auto/ttx/renault/sandero,2012,NaN,NaN,NaN,NaN,NaN,NaN
3,u29695600e,Mercedes-Benz GLC,http://www.autonet.ru/auto/ttx/mercedes-benz/glc,2011,NaN,NaN,NaN,NaN,NaN,NaN
4,N-8915870N,Renault Sandero,http://www.autonet.ru/auto/ttx/renault/sandero,2012,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_temp_ = df_temp[0: 5]
df_temp_

,car_id,model,url,year_to_start,name,release_year,carcass,doors,volume,power
0,y13744087j,Kia Rio X-line,http://www.autonet.ru/auto/ttx/kia/rio,2015,NaN,NaN,NaN,NaN,NaN,NaN
1,O41613818T,VW Polo VI,http://www.autonet.ru/auto/ttx/volkswagen/polo,2015,NaN,NaN,NaN,NaN,NaN,NaN
2,d-2109686j,Renault Sandero,http://www.autonet.ru/auto/ttx/renault/sandero,2012,NaN,NaN,NaN,NaN,NaN,NaN
3,u29695600e,Mercedes-Benz GLC,http://www.autonet.ru/auto/ttx/mercedes-benz/glc,2011,NaN,NaN,NaN,NaN,NaN,NaN
4,N-8915870N,Renault Sandero,http://www.autonet.ru/auto/ttx/renault/sandero,2012,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# идеальное решение
def find_model(row):

   if row['url'] != None:     
     df__ = parse_url(row['url'])


    #  df__['release_year'] = df__['release_year'].astype(int)
     df__ = df__[(df__['release_year'] <= row['year_to_start'])]

     if df__.shape[0] != 0:
       df__ = df__.sort_values(by=['name', 'release_year', 
                                   'carcass', 'doors', 'volume', 'power'
                                   ])
       df__.reset_index(inplace=True)
       df__.drop('index', axis=1, inplace=True)
       df__ = df__.iloc[0]

       row['name'] = df__['name']
       row['release_year'] = df__['release_year']
       row['carcass'] = df__['carcass']
       row['doors'] = df__['doors']
       row['volume'] = df__['volume']
       row['power'] = df__['power']
     else:
       row['name'] = np.NaN
       row['release_year'] = np.NaN
       row['carcass'] = np.NaN
       row['doors'] = np.NaN
       row['volume'] = np.NaN
       row['power'] = np.NaN
    
   else: 
      # print('hello')
      row['url'] = np.NaN
       
   return row

df_temp_ = df_temp_.apply(find_model, axis=1)

In [ ]:
df_temp_.head(10)

,car_id,model,url,year_to_start,name,release_year,carcass,doors,volume,power
0,y13744087j,Kia Rio X-line,http://www.autonet.ru/auto/ttx/kia/rio,2015,KIA Rio 1.1 CDRi,2012.0,хэтчбек,3.0,1120.0,75.0
1,O41613818T,VW Polo VI,http://www.autonet.ru/auto/ttx/volkswagen/polo,2015,Volkswagen Cross Polo 1.2,2005.0,хэтчбек,5.0,1198.0,64.0
2,d-2109686j,Renault Sandero,http://www.autonet.ru/auto/ttx/renault/sandero,2012,Renault Sandero 1.4,2009.0,хэтчбек,5.0,1390.0,75.0
3,u29695600e,Mercedes-Benz GLC,http://www.autonet.ru/auto/ttx/mercedes-benz/glc,2011,NaN,NaN,NaN,NaN,NaN,NaN
4,N-8915870N,Renault Sandero,http://www.autonet.ru/auto/ttx/renault/sandero,2012,Renault Sandero 1.4,2009.0,хэтчбек,5.0,1390.0,75.0

In [ ]:
df_temp_.to_csv('729_0.csv', index=False)

In [ ]:
df_temp_.name.isna().value_counts()

False    2123
True      214
Name: name, dtype: int64